<h3>ようこそ<%= @user.name %>さん, <%= @user.email %></h3>

<ul>
    <li><%= link_to "ユーザー情報の編集", edit_user_path(current_user) %></li>
</ul>

<% if logged_in? %>
  <%= render 'shared/micropost_form' %>
<% end %>

<% if @user.microposts.any? %>
  <h3><%= @user.microposts.count %>件の投稿</h3>
  <ol>
    <%= render @microposts %>
  </ol>
<% end %>