<header>
<div class="container">
  <div class="header-left">
    <p class="logo"> Spring <p>
  </div>
  <div class="header-right">
    <%= link_to "ホーム", root_path %>
    <%= link_to "受講料/クラス日程", '#' %>
    <%= link_to "よくある質問", questions_path %>
    <%= link_to "お問い合わせ", help_path %>
    <%= link_to "ログイン", '#' %>
  </div>
</div>
</header>