<header>
<div class="container">
  <div class="header-left">
    <p class="logo"> Spring <p>
  </div>
  <div class="header-right">
    <ul>
    <li><%= link_to "ホーム", root_path %></li>
    <li><%= link_to "受講料/クラス日程", '#' %></li>
    <li><%= link_to "よくある質問", questions_path %></li>
    <li><%= link_to "お問い合わせ", help_path %></li>
    
    <% if logged_in? %>
      <li><%= link_to "ユーザー一覧", users_path %></li>
      <li><%= link_to "マイページ", user_path(current_user) %></li>
      <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "ログイン", login_path %></li>
    <% end %>
    
    </ul>
  </div>
</div>
</header>